@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Rainbow button colors */
  --color-1: 230 100% 69%; /* Blue */
  --color-2: 322 100% 75%; /* Pink */
  --color-3: 263 100% 76%; /* Purple */
  --color-4: 187 100% 70%; /* Cyan */
  --color-5: 150 100% 70%; /* Green */
  
  /* Animation speed */
  --speed: 2s;
}

body {
  margin: 0;
}
